<!DOCTYPE HTML>
<!-- <meta>Python application for managing job applications by x86coder</meta> -->
<HTML>
<HEAD>
	<title>pyApplications</title>
	{% load static %}
	<link href="{% static 'bootstrap.rtl.min.css' %}" rel="stylesheet">
	<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</HEAD>
<BODY>
<div class="container-fluid">
	<H1> pyapplications <a href="http://localhost:9000/admin" role="button" class="btn btn-primary">Go to admin</a></H1>
	<HR>
	<div class="card-columns">
		{% for r in allRecordsSorted %}
			<div class="card border-dark" style="margin: 0.5em; width: 18rem; display: inline-block;">
				<div class="card-header">📁 {{ r.1 }}</div>
				<div class="card-body">
					<p>Role: <a href="#" title="{{ r.3 }}">{{ r.0 }}</a></p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
</BODY>
</HTML>